.spinner {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  background-color: rgb(146, 101, 50);
  margin: auto;
  animation: rotateplane 1s infinite ease-in-out;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
