@import '../../styles/vars';

.profilPage{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 4px;
    box-shadow: inset 0px 0px 20px 0px #00000033;
    height: 20rem;
    padding: 1.3rem;
    justify-content: flex-end;
    align-items: center;
        &-personal{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 3rem;
                &-credentials{
                    font:$fontH3;
                    color: $colorH;
                }
                &-avatar{
                    position: absolute;
                    height: 5rem;
                    width: 5rem;
                    border-radius: 50px;
                    background-color: #f0f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }  

                &-credentials{
                    margin: 1rem 0;
                }
        }
}

.cgu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    padding: 1em 3em;

    &:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
}