
.cgu {
  margin: 1em 0 1em 0;
}

.cgu-titre-articles {
text-align: left;
margin-bottom: 0.5em;
}

.cgu-articles {
  text-align: justify;
  margin-bottom: 1em;
}

.dyl {
  text-decoration: underline;
  color: black;
}