  @import "../../styles/vars.scss";

.container {
  display: flex;
  justify-content: center;
}

.tab-dashboard {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font: $fontLink;
  padding: 0 1em 0.4em 1em;
  border-bottom: 1px solid $colorsLinkNavBar;

  &-link {
    text-decoration: none;
    color: $colorsLinkNavBar;
  }
}
.dashboard-container{
    bottom: -204px;
    position: relative;
    min-height: 18rem;
}