  @import "../../styles/vars.scss";

.tab-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.tab-dashboard {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font: $fontLink;
  padding: 0 1em 0.4em 1em;
  border-bottom: 1px solid $colorsLinkNavBar;

  &-link {
    text-decoration: none;
    color: $colorsLinkNavBar;
    &-icon{
      vertical-align: middle;
    }
    &-icon-calendar{
      font-size: 35px;
    }
  }
}
.dashboard-container{
    bottom: -1rem;
    position: relative;
    min-height: 18rem;
}

@media screen and (min-width: 768px){
  .dashboard-container{
      margin: 3.5rem;
  }
}