.cardresume-container {
  display: flex;
  justify-content: center;
}

.cardresume {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 0;
  width: 80%;
  background-color: #D1F4CB;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  h2 {
    color: #636363;
    margin: 0.5em 0 0.5em 0;
  }

  h3 {
    color: #636363;
    margin: 0.3em 0 0.3em 0;
  }

  &-mood {
    margin: 1em 0.5em 1em 0.5em;

    &-emoji {
      text-align: center;
      color: #636363;
      margin: 0.3em 0 0.3em 0;
    }
  }

  &-medium {
    margin: 1em 0.5em 1em 0.5em;

    &-infos {
      text-align: center;
      color: #636363;
      margin: 0.3em 0 0.3em 0;
    }
  }
}