.video-responsive {
  overflow: hidden;
  position: sticky;
  height: 125%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.video-responsive iframe {
  display: flex;
  height: 100%;
  width: 71%;
  position: absolute;
  border-radius: 5px;
}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 769px) {
  .video-responsive {
    display: flex;
  }

  .video-responsive iframe {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {}