
//===========================
// basics general sass values
//===========================

// ==================
// How to use the vars
// ------------------
// First line in the sass file
// @use 'src\styles\_vars.scss';
// exemple :
// h1{
// font: vars.$fontH1;
// color: vars.$colorH;
// }
// ==================

// Button
//-------
$btnsize: 100px;
$btnRottate: 7deg;
// $btnShadow:5px 5px 5px #6363639e ;
$btnShadow: 0px 7px 8px 2px rgba(0,0,0,0.19);
$btnBackColor: white;
$btnBorder: 1px solid #6363639e;
//=======

//font:
//----
$fontH1: 48px "Caveat", regular;
$fontH2: 30px "Caveat", regular;
$fontH3: 28px "Caveat", regular;
$colorH: #af9661;

$fontLink: 18px "Caveat", regular;
$colorsLinkNavBar:#636363;
$colorLinkBtn:#B57576;

$fontP: 18px "Lato", regular;
$colorP:#636363;

$fontCal: 18px "Caveat", regular;
$colorCal:#636363;

$compColor: #ffffff

//Icons:
//----


