@import 'reset';
@import 'vars';

#root{
    margin: 3em;
}

 h1 {
 font: $fontH1;
 color: $colorH;
 text-align: center;
 }
 h2 {
 font: $fontH2;
 color: $colorH;
 text-align: center;
 }
 h3 {
 font: $fontH3;
 color: $colorH;
 text-align: center;
 }
 p {
 font: $fontP;
 color: $colorP;
 }

 body {
    background-color: #fdfcf3;
 }