@import 'reset';
@import 'vars';

#root{
    padding: 1em;
    height: 100vh;
}

 h1 {
 font: $fontH1;
 color: $colorH;
 text-align: center;
 }
 h2 {
 font: $fontH2;
 color: $colorH;
 text-align: center;
 }
 h3 {
 font: $fontH3;
 color: $colorH;
 text-align: center;
 }
 p {
 font: $fontP;
 color: $colorP;
 }

 body {
    height: 100vh;
    background-color: #fdfcf3;
 }
 a {
     font: $fontLink;
 }