.logo {
z-index: -1;
width: fit-content;
        &-image{
                top: 18px;
                right: 86%;
                transform: translate(50%, -20%);
                z-index: -1;
                position: absolute;
                width: 4rem;
                max-width: 10rem;
        }
}

@media screen and (min-width: 481px) {
        .logo{
                &-image{
                        top: 28px;
                        right: 87%; 
                        width: 6rem;   
                }
        }
}

@media screen and (min-width: 769px) {
        .logo{
                &-image{
                        top: 50px;
                        right: 87%;
                        width: 9rem;  
                }
        }
}

@media screen and (min-width: 1024px) {
        .logo{
                &-image{
                        top: 50px;
                        right: 87%;
                        width: 10rem; 
                }
        }
}