.logo {
z-index: -1;
width: fit-content;
        &-image{
        top: 6px;
        right: 84%;
        transform: translate(50%, -20%);
        z-index: -1;
        position: absolute;
        width: 9rem;
        max-width: 10rem;
            
        }
}
