.logo {
z-index: -1;
width: fit-content;
        &-image{
                top: 18px;
                right: 86%;
                transform: translate(50%, -20%);
                z-index: -1;
                position: absolute;
                width: 4rem;
                max-width: 10rem;
        }
}
