.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 0;
  width: 80%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 5px;

    &-user-video{
      max-width: 8rem;
      max-height: 8rem;
    }

  h2 {
    color: #636363;
    margin: 0.5em 0 0.5em 0;
  }

  h3 {
    color: #636363;
    margin: 0.3em 0 0.3em 0;
  }

  &-mood {
    margin: 1em 0.5em 1em 0.5em;

    &-emoji {
      text-align: center;
      color: #636363;
      margin: 0.3em 0 0.3em 0;
    }
  }

  &-medium {
    margin: 1em 0.5em 1em 0.5em;

    &-infos {
      text-align: center;
      color: #636363;
      margin: 0.3em 0 0.3em 0;
    }
  }
}