@import '../../styles/vars';

.button-card-edit {
  width: $btnsize;
    height: $btnsize;
    border-radius: 50px;
    transform: rotate(-$btnRottate);
    box-shadow: $btnShadow;
    border: none;

    &-text {
      overflow: visible;
      color: #7E8CAF;
      font:$fontH2 ;
    }
}