@import '../../styles/vars';

.button-card-edit {
  width: $btnsize;
  height: $btnsize;
  border-radius: 50px;
  transform: rotate(-$btnRottate);
  box-shadow: $btnShadow;
  background-color: $btnBackColor;
  border: none;
      &-text{
          overflow: visible;
          font:$fontH2 ;
          color: #af9661;
      }

      &:hover {
          transform: scale(1.05);
          transition: 0.5s;
      }
}

// container
.emojis {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

// Icone de fermeture
.fa-times {
position: absolute;
top: 0;
right: 0;
font-size: 1.5em;
}

// Icones Emojis
.emojis-text {
  margin-bottom: 0.5em;
}

.fa-laugh-beam {
  color: rgb(1, 248, 1);
  font-size: 2.5em;
  margin-right: 0.6em;
}

.fa-sad-tear {
  color: grey;
  font-size: 2.5em;
  margin-right: 0.6em;
}

.fa-smile-wink {
  color: rgb(255, 157, 0);
  font-size: 2.5em;
  margin-right: 0.6em;
}

.fa-meh-blank {
  color: rgb(245, 231, 104);
  font-size: 2.5em;
}

// Icones Médias
.medias {
  text-align: center;
  margin-bottom: 1em;
}

.medias-text {
  margin-bottom: 0.5em;
}

.fa-keyboard {
  font: $colorP;
  font-size: 2.5em;
  margin-right: 1em;
}

.fa-camera {
  font: $colorP;
  font-size: 2.5em;
  margin-right: 0.6em;
}

.fa-microphone {
  font: $colorP;
  font-size: 2.5em;
  margin-right: 0.6em;
}

.fa-video {
  font: $colorP;
  font-size: 2.5em;
}

// Input

.files1 {
background-color:orange;
margin-top: 1em;
}

.files2 {
background-color: rgb(1, 248, 1);
margin-top: 1em;
}



.submit {
  display: flex;
  justify-content: center;
}
