@import '../../styles/vars';

.button-card-edit {
  width: $btnsize;
  height: $btnsize;
  border-radius: 50px;
  transform: rotate(-$btnRottate);
  box-shadow: $btnShadow;
  background-color: $btnBackColor;
  border: none;
      &-text{
          overflow: visible;
          font:$fontH2 ;
          color: #af9661;
      }

      &:hover {
          transform: scale(1.05);
          transition: 0.5s;
      }
}

// container
.emojis {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

// Icone