@import "../../styles/vars.scss";

.calendar {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.react-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border: none;
    font: $fontCal;
    color: $colorCal;

    &__navigation__label__labelText {
        font: $fontCal;
        color: $colorCal;
    }

    &__month-view__days__day {
        font: $fontP;
        color: $colorP;
    }

    &__navigation__arrow {
        font: $fontCal;
        color: $colorCal;
    }

}

.calendar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
  .calendarRow {
    display: flex;
    flex-direction: column;
    margin-top:0.7rem;
    padding: 1rem;
    width: 80%;
    height: 3rem;
    background-color: #D1F4CB;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    justify-content: center;

     &-text{
        font-size: 1rem;
     }
  }
