@import '../styles/vars';

.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: $fontP;
  letter-spacing: 1px;
}

h2 {
  margin: 1em 0em 0.5em 0em;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.textarea {
  font: $fontP;
  padding: 3em 3em;
  margin-bottom: 2em;
  margin-top: 1em;
  border: none;
  border-bottom: 1px solid grey;
}

.textarea::placeholder {
  text-align: center;
}

input {
  font: $fontP;
  padding: 1em 2em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid grey;
}

.input::placeholder {
  text-align: center;
}

.button {
  z-index: 1;
  background-color: #e2e2e29d;
  border: 1px solid #0a61b91a;
  box-sizing: border-box;
  color: #3e53387e;
  font-family: "Lato", regular;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  padding: 5px 23px;
  margin: 20px 0 10px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.button:hover {
transform: scale(1.09);
transition: 0.2s;
background: rgb(222,222,222);
}

//! Mise en forme des messages d'erreurs à la soumission du formulaire
//! En cas d'erreur ou d'oubli => le placeHolder change de style au moment de la soumission

.error::placeholder {
  color: red;
}

.form-message {
  margin-top: 0.8em;
  padding: 0.2em;
  opacity: 0;
  color: black;
  transition: 0.2s ease;
  border-radius: 10px;
}

#not-mail {
  display: none;
  position: absolute;
  bottom: -0.8em;
  right: 6em;
  color: red;
}
