.avatarInput{
  display: flex;
  justify-content: center;

  &-inpute{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    justify-content: center;
  }

  &-avatar{
    display: flex;
    background-color: #9999991c;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
    margin-bottom: 1rem;
  }
}
input[type="file"] {
    display: none;
}

