.avatarInput{
  display: flex;
  justify-content: center;
  &-text{
  
  }
  &-inpute{
    background-color: #63636365;
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
  }
  &-avatar{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
  }
}
input[type="file"] {
    display: none;
}

